<!DOCTYPE html>
<html>
  <head>
    <title>Learn{x} | Welcome back, <%= me.name %>!</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/pageStyle.css">
    <link rel="stylesheet" href="/styles/uikit .css">
    <!--STYLES END-->
    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>',
      me: <%- JSON.stringify(me) %>
    };
    </script>
  </head>
  <body ng-app="DashboardModule" ng-controller="DashboardController" ng-cloak>

    <!-- container = Fixed-width container container-fluid = full-width -->
    <div class="container-fluid">
      <!-- Creates the navbar -->
      <nav class="navbar navbar-default navbar-inverse">
        <!-- This creates the mechanism for collapse button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <!-- This controls the number of lines in the image when the nav collapse -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <!-- This is the brand on the left-hand side. -->
        <a class="navbar-brand" href="/#/"> Learn{x}</a>
        <!-- This is what is the above collapse button points to when the mark-up below is collapsed -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <!-- This is what "styles" the li's as navbar items -->
          <ul class="nav navbar-nav navbar-right">
            <!-- navbar-right pulls this element right -->
            <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
            fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
            controller will not be tied to this element. -->
            <li>
              <a href="/logout">sign-out</a>
            </li>
            <!-- <a ng-controller="signinController" class="btn btn-default navbar-btn navbar-right" href="#" ng-if="!isAuthenticated">sign-in</a> -->
            <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
            fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
            controller will not be tied to this element. -->
          </ul>
        </div>
      </nav>


      <h1>My Dashboard</h1>
      
     <js-plumb-canvas on-connection="onConnection" x="pos_x" y="pos_y" zoom="zoomlevel">
      <div class="uk-width-small-1-3 uk-container-center uk-animation-fade">
      <div class="uk-grid">
      <div class="uk-width-small-1-4">
      <div id="Profile" class="uk-panel uk-panel-box uk-animation-scale uk-animation-reverse uk-animation-hover">
      <h1 class="uk-panel-title"><%= me.name %></h1>
      <img src="<%= me.gravatarUrl %>"  ng-click="expandProfile = !expandProfile; drawLines(expandProfile)" class="uk-animation-fade" alt="Profile pic">
      <button class="uk-button-primary uk-animation-fade" type="button" ng-show="expandProfile" ng-click="showVideo = !showVideo" class="uk-animation-fade">Show/hide PlayGraphs</button>
      </div>
      </div>
      <div  ng-show="expandProfile" class="uk-width-small-1-4 uk-animation-fade">
        <div id="Friends" class="uk-panel uk-panel-box uk-animation-scale uk-animation-reverse uk-animation-hover">
        <h1 class="uk-panel-title">Friends</h1>
      </div>
      </div>
      </div>

      
       <div ng-show="showVideo" class="uk-animation-fade uk-grid uk-grid-width-1-2">
<ul id="Main" class="uk-sortable uk-list uk-list-space" data-uk-sortable="{group:'group1'}">
<li>   
<div class="uk-grid">
<div class="uk-width-small-1-2">
<div class="uk-panel uk-panel-box uk-animation-scale uk-animation-reverse uk-animation-hover">
     <h3 class="uk-handle">Stable marriage 1</h3>
    <a href="https://www.youtube.com/watch?v=Qcv1IqHWAzg"  title="stable marriage 1" data-uk-lightbox="{group:'group1'}">
      <img src="http://img.youtube.com/vi/Qcv1IqHWAzg/default.jpg" width="200" height="150" alt="">
    </a>
</div>
</div>
</div>
</li>
  <li>
<div class="uk-grid">
<div class="uk-width-small-1-2">
  <div class="uk-panel uk-panel-box uk-animation-scale uk-animation-reverse uk-animation-hover">
      <h3 class="uk-handle">Stable marriage 2</h3>
    <a href="https://www.youtube.com/watch?v=LtTV6rIxhdo" data-uk-lightbox="{group:'group1'}" title="">
      <img src="http://img.youtube.com/vi/LtTV6rIxhdo/default.jpg" width="200" height="150" alt="">
    </a>
    </div>
  </div>
</div>
</li>
 
</ul>

<ul class="uk-sortable uk-list uk-list-space" data-uk-sortable="{group:'group1'}">
<li>
<div class="uk-grid">
<div class="uk-width-small-1-2">
<div class="uk-panel uk-panel-box">
     <h3 class="uk-handle">Move</h3>
    <a href="http://getuikit.com/docs/images/placeholder_800x600_1.jpg"  title="" data-uk-lightbox="{group:'group1'}">
      <img src="http://getuikit.com/docs/images/placeholder_200x150_1.svg" width="200" height="150" alt="">
    </a>
</div>
</li>
  <li>
  <div class="uk-grid">
<div class="uk-width-small-1-2">
  <div class="uk-panel uk-panel-box">
      <h3 class="uk-handle">Move</h3>
    <a href="http://getuikit.com/docs/images/placeholder_800x600_2.jpg" data-uk-lightbox="{group:'group1'}" title="">
      <img src="http://getuikit.com/docs/images/placeholder_200x150_2.svg" width="200" height="150" alt="">
    </a>
    </div>
</li>
  <li>
  <div class="uk-grid">
<div class="uk-width-small-1-2">
<div class="uk-panel uk-panel-box">
     <h3 class="uk-handle">Move</h3>
    <a href="http://getuikit.com/docs/images/placeholder_800x600_3.jpg" data-uk-lightbox="{group:'group1'}" title="">
      <img src="http://getuikit.com/docs/images/placeholder_200x150_3.svg" width="200" height="150" alt="">
    </a>
    </div>
</li>
  <li>
  <div class="uk-grid">
<div class="uk-width-small-1-2">
<div class="uk-panel uk-panel-box">
      <h3 class="uk-handle">Move</h3>
    <a href="http://getuikit.com/docs/images/placeholder_800x600_4.jpg" data-uk-lightbox="{group:'group1'}" title="">
      <img src="http://getuikit.com/docs/images/placeholder_200x150_4.svg" width="200" height="150" alt="">
    </a>
    </div>
</li>
</ul>
</div>

</div>
</js-plumb-canvas>
</div>




      
  


      
    </div>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.1.3.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/uikit.min.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/default-katavorio-helper.js"></script>
    <script src="/js/dependencies/dom.jsPlumb-1.7.6-min.js"></script>
    <script src="/js/dependencies/drawLines.js"></script>
    <script src="/js/dependencies/interact.min.js"></script>
    <script src="/js/dependencies/jsPlumbdirectives.js"></script>
    <script src="/js/dependencies/katavorio-0.7.js"></script>
    <script src="/js/dependencies/lightbox.min.js"></script>
    <script src="/js/dependencies/modal.js"></script>
    <script src="/js/dependencies/sortable.js"></script>
    <script src="/js/dependencies/utility.js"></script>
    <script src="/js/public/signup/SignupModule.js"></script>
    <script src="/js/private/dashboard/DashboardModule.js"></script>
    <script src="/js/public/homepage/HomepageModule.js"></script>
    <script src="/js/private/dashboard/DashboardController.js"></script>
    <script src="/js/public/homepage/HomepageController.js"></script>
    <script src="/js/public/signup/SignupController.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
